:root {
      --border0: 1px solid var(--n1);
      --border1: 1px solid var(--n2);
      --n0: #2e3440;
      --n1: #3b4252;
      --n2: #434c5e;
      --n3: #4c566a;

      --t0: #d8dee9;
      --t1: #e5e9f0;
      --t2: #eceff4;

      --c0: #8fbcbb;
      --c1: #88c0d0;
      --c2: #81a1c1;
      --c3: #5e81ac;

      --fs0: 12px;
      --fs1: 16px;
      --fs2: 20px;

      --br0: 4px;
      --br1: 8px;
      --br-circle: 50%;
      --br-pill: 999px;

      --zi-front: 10000;
      --zi-front0: 10;
      --zi-front1: 100;
      --zi-front2: 1000;

      --zi-deep: -10000;

      --tp-base-background-color: var(--n0);
      --tp-base-shadow-color: var(--n1);

      --tp-button-background-color: var(--n1) !important;
      --tp-button-background-color-active: var(--n2) !important;
      --tp-button-background-color-focus: var(--n3) !important;
      --tp-button-background-color-hover: var(--n4) !important;
      --tp-button-foreground-color: var(--t0) !important;

      --tp-container-background-color: var(--n1);
      --tp-container-background-color-active: var(--n2);
      --tp-container-background-color-focus: var(--n3);
      --tp-container-background-color-hover: var(--n3);
      --tp-container-foreground-color: var(--t0);
      --tp-groove-foreground-color: var(--n0);
      --tp-input-background-color: var(--n1);
      --tp-input-background-color-active: var(--n2);
      --tp-input-background-color-focus: var(--n3);
      --tp-input-background-color-hover: var(--n3);
      --tp-input-foreground-color: var(--t0);
      --tp-label-foreground-color: var(--t1);
}

* {
      color: var(--t0);
      font-size: var(--fs0);
}

.bg, body {
      background-color: var(--n0);
}

input {
      background-color: var(--n1);
      border-radius: var(--br0);
      border: var(--border1);
      padding: 8px;
}

input:active, input:focus {
      outline: none;
}

img,span {
      background-color: transparent;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: var(--n1);
  color: var(--c0);
  text-align: center;
  border-radius: var(--br0);
  border: var(--border1);
  padding: 5%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.drawer {
      width: 400px;
      height: 100%;
      min-height: 100%;
      position: fixed;
      right: 0px;
      top: 0px;
      border: var(--border0);
}

.icon-btn {
      width: 32px;
      height: 32px;
      border-radius: 3px;
      background-color: var(--n1);
      border: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
}

.icon-btn:hover, ul.navbar > li:hover  {
      background-color: var(--n2);
}

.icon-btn:active, ul.navbar > li:active {
      background-color: var(--n3);
}

.layout {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
}

.header {
      height: 32px;
      font-size: var(--fs1);
      border-bottom: var(--border0);
      width: 100%;
}

.body {
      padding: 10%;
}

.up-bar {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
}

.up-bar-secondary {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
}

ul.navbar {
      list-style: none;
      margin: 0px;
      padding: 0px;
      border-bottom: var(--border0);
}

ul.navbar > li {
      float: left;
      width: 120px;
      height: 32px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-sizing: border-box;
}

ul.navbar > li:has(.active), ul.navbar > li.active {
      border-bottom: 2px solid var(--c3);
}
.row {
      display: flex;
}

.g-1 {
      gap: 5%;
}
.g-2 {
      gap: 10%;
}
.g-3 {
      gap: 15%;
}
.g-4 {
      gap: 20%;
}
.g-5 {
      gap: 25%;
}
.col {
      flex: 0 0 auto;
}

.p-1 {
      padding: 5%;
}
.p-2 {
      padding: 10%;
}
.p-3 {
      padding: 15%;
}
.p-4 {
      padding: 20%;
}
.p-5 {
      padding: 25%;
}

.m-1 {
      margin: 5%;
}
.m-2 {
      margin: 10%;
}
.m-3 {
      margin: 15%;
}
.m-4 {
      margin: 20%;
}
.m-5 {
      margin: 25%;
}

.mt-1 {
      margin-top: 5%;
}
.mt-2 {
      margin-top: 10%;
}
.mt-3 {
      margin-top: 15%;
}
.mt-4 {
      margin-top: 20%;
}
.mt-5 {
      margin-top: 25%;
}
.ml-1 {
      margin-left: 5%;
}
.ml-2 {
      margin-left: 10%;
}
.ml-3 {
      margin-left: 15%;
}
.ml-4 {
      margin-left: 20%;
}
.ml-5 {
      margin-left: 25%;
}
.mb-1 {
      margin-bottom: 5%;
}
.my-3 {
      margin-top: 15%;
      margin-bottom: 15%;
}
.px-1 {
      padding-left: 5%;
      padding-right: 5%;
}
.center {
      align-items: center;
}

.sc-1 { margin-left: 8.333%; }   /* 1/12 */
.sc-2 { margin-left: 16.666%; }  /* 2/12 */
.sc-3 { margin-left: 25%; }
.sc-4 { margin-left: 33.333%; }
.sc-5 { margin-left: 41.666%; }
.sc-6 { margin-left: 50%; }
.sc-7 { margin-left: 58.333%; }
.sc-8 { margin-left: 66.666%; }
.sc-9 { margin-left: 75%; }
.sc-10 { margin-left: 83.333%; }
.sc-11 { margin-left: 91.666%; }
.sc-12 { margin-left: 100%; }
.resizable {
      resize: both;
      overflow: auto;
}

.main {
      margin-top: 40px;
}

.list {
      display: flex; 
      flex-direction: column; 
      overflow-y: scroll; 
      height: 80vh; 
      max-height: 80vh;
      width: 100%;
}
.list-container {
      list-style-type: none;
      text-indent: 5px;
      padding-inline-start: 20px;
}
.item {
      width: 200px;
      height: 18px;
      padding: 5px;
      border-radius: 7px;
      list-style-type: none;
}
.item:hover {
      background-color: var(--n1);
      cursor: pointer;
}

.file {
     width: 70px; 
     height: 80px;
     background-color: var(--n1);
     border-radius: 5px;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
     box-sizing: border-box;
     cursor: pointer;
     flex-direction: column;
}

.h-container {
      display: flex;
      max-width: 80%;
      min-width: 80%;
      overflow-x: scroll;
      height: 200px;
      gap: 10%;
}

.bottom-drawer {
      border-top: var(--border0);
      height: 300px;
      width: 100%;
      min-width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
}

.v-container {
      display: flex; 
      flex-direction: column; 
      justify-content: center; 
      align-items: center;
}

.sm-item {
      width: 32px !important;
}