:root {
      --n0: #2e3440;
      --n1: #3b4252;
      --n2: #434c5e;
      --n3: #4c566a;

      --t0: #d8dee9;
      --t1: #e5e9f0;
      --t2: #eceff4;

      --c0: #8fbcbb;
      --c1: #88c0d0;
      --c2: #81a1c1;
      --c3: #5e81ac;

      --fs0: 14px;
      --fs1: 18px;
      --fs2: 20px;
}

* {
      background-color: var(--n0);
      color: var(--t0);
      font-size: var(--fs0);
}

img,span {
      background-color: transparent;
}

.drawer {
      width: 300px;
      height: 100%;
      min-height: 100%;
      position: fixed;
      right: 0px;
      top: 0px;
      border: 1px solid var(--n1);
}

.icon-btn {
      width: 32px;
      height: 32px;
      border-radius: 3px;
      background-color: var(--n1);
      border: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
}

.icon-btn:hover, ul.navbar > li:hover  {
      background-color: var(--n2);
}

.icon-btn:active, ul.navbar > li:active {
      background-color: var(--n3);
}

.layout {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
}

.header {
      position: absolute;
      top: 0px;
      height: 32px;
      font-size: var(--fs1);
      border-bottom: 1px solid var(--n1);
      width: 100%;
}

.up-bar {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
}

ul.navbar {
      list-style: none;
      margin: 0px;
      padding: 0px;
      border-bottom: 1px solid var(--n1);
}

ul.navbar > li {
      float: left;
      width: 120px;
      height: 32px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-sizing: border-box;
}

ul.navbar > li:has(.active), ul.navbar > li.active {
      border-bottom: 2px solid var(--c3);
}
.row {
      display: flex;
}

.g-1 {
      gap: 5%;
}
.g-2 {
      gap: 10%;
}
.g-3 {
      gap: 15%;
}
.g-4 {
      gap: 20%;
}
.g-5 {
      gap: 25%;
}
.col {
      flex: 0 0 auto;
}

.p-1 {
      padding: 5%;
}
.p-2 {
      padding: 10%;
}
.p-3 {
      padding: 15%;
}
.p-4 {
      padding: 20%;
}
.p-5 {
      padding: 25%;
}

.m-1 {
      margin: 5%;
}
.m-2 {
      margin: 10%;
}
.m-3 {
      margin: 15%;
}
.m-4 {
      margin: 20%;
}
.m-5 {
      margin: 25%;
}

.center {
      align-items: center;
}

.sc-1 { margin-left: 8.333%; }   /* 1/12 */
.sc-2 { margin-left: 16.666%; }  /* 2/12 */
.sc-3 { margin-left: 25%; }
.sc-4 { margin-left: 33.333%; }
.sc-5 { margin-left: 41.666%; }
.sc-6 { margin-left: 50%; }
.sc-7 { margin-left: 58.333%; }
.sc-8 { margin-left: 66.666%; }
.sc-9 { margin-left: 75%; }
.sc-10 { margin-left: 83.333%; }
.sc-11 { margin-left: 91.666%; }
.sc-12 { margin-left: 100%; }